@import url(https://fonts.bunny.net/css?family=italianno:400);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: hsl(0 0% 100%); /* Weiß */
        --foreground: hsl(240 10% 3.9%); /* Dunkelblau */
        --card: hsl(0 0% 100%); /* Weiß */
        --card-foreground: hsl(240 10% 3.9%); /* Dunkelblau */
        --popover: hsl(0 0% 100%); /* Weiß */
        --popover-foreground: hsl(240 10% 3.9%); /* Dunkelblau */
        --primary: hsl(240 5.9% 10%); /* Dunkelgrau */
        --primary-foreground: hsl(0 0% 98%); /* Weiß */
        --secondary: hsl(240 4.8% 95.9%); /* Hellgrau */
        --secondary-foreground: hsl(240 5.9% 10%); /* Dunkelgrau */
        --muted: hsl(240 4.8% 95.9%); /* Hellgrau */
        --muted-foreground: hsl(240 3.8% 46.1%); /* Grau */
        --accent: hsl(240 4.8% 95.9%); /* Hellgrau */
        --accent-foreground: hsl(240 5.9% 10%); /* Dunkelgrau */
        --destructive: hsl(0 84.2% 60.2%); /* Rottöne */
        --destructive-foreground: hsl(0 0% 98%); /* Weiß */
        --border: hsl(240 5.9% 90%); /* Hellgrau */
        --input: hsl(240 5.9% 90%); /* Hellgrau */
        --ring: hsl(240 5.9% 10%); /* Dunkelgrau */
        --radius: 0.5rem;
    }

    .dark {
        --background: hsl(240 10% 3.9%); /* Dunkelblau */
        --foreground: hsl(0 0% 98%); /* Weiß */
        --card: hsl(240 10% 3.9%); /* Dunkelblau */
        --card-foreground: hsl(0 0% 98%); /* Weiß */
        --popover: hsl(240 10% 3.9%); /* Dunkelblau */
        --popover-foreground: hsl(0 0% 98%); /* Weiß */
        --primary: hsl(0 0% 98%); /* Weiß */
        --primary-foreground: hsl(240 5.9% 10%); /* Dunkelgrau */
        --secondary: hsl(240 3.7% 15.9%); /* Dunkelgrau */
        --secondary-foreground: hsl(0 0% 98%); /* Weiß */
        --muted: hsl(240 3.7% 15.9%); /* Dunkelgrau */
        --muted-foreground: hsl(240 5% 64.9%); /* Grau */
        --accent: hsl(240 3.7% 15.9%); /* Dunkelgrau */
        --accent-foreground: hsl(0 0% 98%); /* Weiß */
        --destructive: hsl(0 62.8% 30.6%); /* Rottöne */
        --destructive-foreground: hsl(0 0% 98%); /* Weiß */
        --border: hsl(240 3.7% 15.9%); /* Dunkelgrau */
        --input: hsl(240 3.7% 15.9%); /* Dunkelgrau */
        --ring: hsl(240 4.9% 83.9%); /* Hellgrau */
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .h-svh {
        height: calc(100svh - 5rem);
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}
