@import url(https://fonts.bunny.net/css?family=italianno:400);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #efeee5;
        --foreground: #5f544e;

        --card: #ede8d5;
        --card-foreground: #5f544e;

        --popover: #ede8d5;
        --popover-foreground: #5f544e;

        --primary: #5f544e;
        --primary-foreground: #ede8d5;

        --secondary: #e7cd8d;
        --secondary-foreground: #5f544e;

        --muted: #efeee5;
        --muted-foreground: #cdcab2;

        --accent: #ede8d5;
        --accent-foreground: #5f544e;

        --destructive: #5f544e;
        --destructive-foreground: #ede8d5;

        --border: #5f544e;
        --input: #efeee5;
        --ring: #5f544e;

        --radius: 0.5rem;
    }

    .dark {
        --background: #efeee5;
        --foreground: #5f544e;

        --card: #ede8d5;
        --card-foreground: #5f544e;

        --popover: #ede8d5;
        --popover-foreground: #5f544e;

        --primary: #5f544e;
        --primary-foreground: #ede8d5;

        --secondary: #e7cd8d;
        --secondary-foreground: #5f544e;

        --muted: #efeee5;
        --muted-foreground: #cdcab2;

        --accent: #ede8d5;
        --accent-foreground: #5f544e;

        --destructive: #5f544e;
        --destructive-foreground: #ede8d5;

        --border: #5f544e;
        --input: #efeee5;
        --ring: #5f544e;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .h-svh {
        height: calc(100svh - 5rem);
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}
