---
import H2 from "./H2.astro";
import CountdownReact from "@/components/react/CountdownReact";
---

<!-- Countdown -->
<section id="countdown" class="bg-secondary text-secondary-foreground p-10">
    <H2>Yuliya und Oleg heiraten! <br /> 11. Mai 2024</H2>
    <CountdownReact client:load />
</section>
