---
import Header2 from "./Header2.astro";
import CountdownReact from "@/components/react/CountdownReact";
---

<!-- Countdown -->
<section id="countdown" class="mt-10 bg-primary-foreground p-10">
    <Header2>Countdown</Header2>
    <CountdownReact client:load />
</section>
