---
import Header2 from "@/components/Header2.astro";
import { AccordionFAQ } from "./react/AccordionFAQ.tsx";
---

<!-- FAQ - Accordion -->
<section id="geschenke" class="text-center">
    <div class="h-52 bg-secondary text-secondary-foreground py-8">
        <div class="container"><Header2>FAQ</Header2></div>
        <p class="p-8">
            Hier findest du häufig gestellte Fragen und die passenden Antworten
            dazu.
        </p>
    </div>
    <div class="pt-16 container max-w-3xl mx-auto">
        <AccordionFAQ client:load />
    </div>
</section>
