---
const currentYear = new Date().getFullYear();
---

<footer
    class="container pt-16 pb-32 lg:pb-16 bg-secondary text-secondary-foreground text-center"
>
    <h2 class="font-yuliya text-4xl">
        Wir freuen uns auf diesen besonderen Tag mit euch!
    </h2>
    <div class="py-4">
        <p>Kontakt:</p>
        <p>Telefon: 0176 12345678</p>
        <p>E-Mail: <a href="mailto:email@gmail.com">email@gmail.com</a></p>
    </div>
    <p class="text-sm">herbertnikolajewskidci &copy; {currentYear}</p>
</footer>
