<section id="gedicht" class="text-center py-5 font-yuliya text-3xl">
    <p>
        Liebe Freunde, groß und klein,<br />
        wir laden euch zur Hochzeit ein. <br />
        Nach 16 Jahren, voller Glück, <br />
        feiern wir den Bund, Stück für Stück.
        <br />
        <br />
    </p>
    <p>
        Am 11. Mai ist der große Tag, <br />
        mit Liebe, Lachen, Freudenschlag. <br />
        In festlicher Pracht und Glanz, <br />
        beginnt der nächste Lebenskranz. <br />
        <br />
    </p>
    <p>
        Bitte kommt zahlreich und fein, <br />
        zu diesem Fest, so soll es sein. <br />
        Gemeinsam tanzen, singen, lachen, <br />
        wir freuen uns, euch zu erwachen. <br />
        <br />
    </p>
    <p>
        Lasst uns teilen diesen Augenblick, <br />
        wir sagen "Ja" mit einem Klick. <br />
        Gemeinsam stark, ein Lebenslauf, <br />
        Freunde, seid dabei, macht mit drauf! <br />
        <br />
    </p>
    <p>
        Gasthof Posthorn um 13 Uhr, <br />
        wir hoffen, ihr seid alle hocherfreut. <br />
        Auf Liebe, Glück und Ewigkeit, <br />
        feiern wir die Hochzeit, weit und breit.
    </p>
</section>
