---
// import { ModeToggle } from "@/components/react/ModeToogle.tsx";
import { Button } from "./ui/button";
import { CostumCarousel } from "./react/Carousel.tsx";

const navItems = [
    {
        icon: "ℹ️",
        label: "#informationen",
    },
    {
        icon: "🍽️",
        label: "#rueckmeldung",
    },
    {
        icon: "🚗",
        label: "#anfahrt",
    },
    {
        icon: "🎁",
        label: "#geschenke",
    },
];
---

<header>
    <section
        class="hero h-[50vh] lg:mt-20 overflow-hidden bg-cover bg-center"
        style="background-image: url('/Banner.jpeg')"
    >
        <div class="md:hidden">
            <CostumCarousel client:load />
        </div>
        <!-- <div class="animate-bounce">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="64"
                height="64"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                filter="url(#shadow)"
            >
                <defs>
                    <filter
                        id="shadow"
                        x="-20%"
                        y="-20%"
                        width="140%"
                        height="140%"
                    >
                        <feOffset result="offOut" in="SourceAlpha" dx="5" dy="5"
                        ></feOffset>
                        <feGaussianBlur
                            result="blurOut"
                            in="offOut"
                            stdDeviation="3"></feGaussianBlur>
                        <feBlend in="SourceGraphic" in2="blurOut" mode="normal"
                        ></feBlend>
                    </filter>
                </defs>
                <path d="M6 9l6 6 6-6"></path>
            </svg>
        </div> -->

        <nav
            class="fixed
            bottom-0
            lg:top-0
            bg-accent
            w-[100%]
            h-20
            flex
            justify-around
            items-center
            lg:justify-center
            lg:gap-4"
        >
            <a class="hidden lg:inline" href="#">
                <Button variant="outline">
                    <span class="text-2xl font-yuliya text-primary">Y&O</span>
                </Button>
            </a>
            {
                navItems.map((item) => (
                    <a href={`${item.label}`}>
                        <Button variant="outline">
                            <span class="text-2xl">{item.icon}</span>
                        </Button>
                    </a>
                ))
            }

            <!-- <ModeToggle client:load /> -->
        </nav>
    </section>
</header>
