---
import Header2 from "./Header2.astro";
---

<!-- Allgemeine Infos -->
<section id="informationen" class="pt-10 container lg:mx-auto">
    <Header2>Allgemeine Infos</Header2>
    <p class="text-center text-xl my-5">
        Liebe Gäste,
        <br />
        <br />
        zu unserer Hochzeit am 11. Mai 2024 laden wir euch recht herzlich ein!
        <br />
        <br />
        Auf dieser Seite findet ihr alle wichtigen Informationen rund um die Hochzeit.
        <br />
        <br />
        <b
            >Bitte gebt uns <a class="underline" href="#rueckmeldung">hier</a> bescheid,
            was ihr essen wollt!</b
        >
        <br />
        <br />
        Liebe Grüße,
        <br />
        <br />
        Yuliya und Oleg
    </p>
</section>
