---
import Info from "./Info.astro";
import Countdown from "./Countdown.astro";
import Response from "./Response.astro";
import Anfahrt from "./Anfahrt.astro";
import Tagesablauf from "./Tagesablauf.astro";
import Faq from "./Faq.astro";
import Gedicht from "./Gedicht.astro";
---

<main>
    <Countdown />
    <Gedicht />
    <Info />
    <Response />
    <Anfahrt />
    <Tagesablauf />
    <Faq />
</main>
