---
import H2 from "./H2.astro";
import { InputForm } from "@/components/react/Form.tsx";
import { DateRangePicker } from "@/components/react/DateRangePicker.tsx";
---

<!-- Rückmeldungsformular -->
<section id="rueckmeldung" class="container mx-auto max-w-5xl py-10">
    <H2>Rückmeldung</H2>

    <p class="text-center text-lg my-5">
        Damit der Wirt genug für uns alle vorbereiten kann, wäre es gut, wenn
        Ihr uns mitteilt wer alles kommt und <b>was Ihr essen möchtet.</b> Falls
        Ihr noch eine <b>Übernachtungsmöglichkeit</b> sucht, könnt Ihr das auch hier
        angeben.
    </p>
    <div class="border-2 rounded-md p-2 max-w-3xl mx-auto">
        <InputForm client:load />
        <DateRangePicker client:load />
    </div>
    <p class="py-4 max-w-3xl mx-auto">
        * Für vegetarisches Essen ist gesorgt und es gibt noch sehr viele
        verschiedene Beilagen.
    </p>
</section>
