---
import Header2 from "./Header2.astro";
import { InputForm } from "@/components/react/Form.tsx";
---

<!-- Rückmeldungsformular -->
<section id="rueckmeldung" class="container py-10">
    <Header2>Rückmeldung</Header2>

    <p class="text-center text-lg my-5">
        Damit der Wirt genug für uns alle vorbereiten kann, wäre es gut, wenn
        Ihr uns mitteilt wer alles kommt und <b>was Ihr essen möchtet.</b> Falls
        Ihr noch eine <b>Übernachtungsmöglichkeit</b> sucht, könnt Ihr das auch hier
        angeben.
    </p>
    <div class="border-2 rounded-md p-2">
        <InputForm client:load />
    </div>
    <p class="py-4">
        * Für vegetarisches Essen ist gesorgt und es gibt noch sehr viele
        verschiedene Beilagen.
    </p>
</section>
