---
import H2 from "./H2.astro";
const ablauf = [
    {
        icon: "⛪",
        time: "13:00",
        title: "Trauung auf der Wiese",
        description:
            "Wir würden euch bitten, bis spätestens 12:30 Uhr da zu sein, damit wir pünktlich beginnen können.",
    },
    {
        icon: "🥂",
        time: "14:00",
        title: "Empfang",
        description:
            "Nach der Trauung gibt es einen kleinen Empfang mit Sekt und Häppchen. Währendessen machen das Brautpaar und die Familie Fotos.",
    },
    {
        icon: "🎉",
        time: "ca. 16:00",
        title: "Beginn der Feier",
        description: "Wir freuen uns auf einen tollen Tag mit euch.",
    },
];
---

<!-- Tagesablauf -->
<section class="pb-8">
    <div class="h-52 bg-secondary text-secondary-foreground py-8">
        <div class="container"><H2>Tagesablauf</H2></div>
        <p class="p-8 text-center">
            Hier findet Ihr Informationeen zu den eineen Programmpunkten unserer
            Hochzeit.
        </p>
    </div>
    {
        ablauf.map((item) => (
            <div class="container p-8 flex flex-col justify-center items-center">
                <div class="w-20 h-20 rounded-full text-5xl flex justify-center items-center my-4 bg-accent">
                    {item.icon}
                </div>
                <p class="my-4 text-center font-bold text-lg">
                    {item.time} - {item.title}
                </p>
                <p class="text-center">{item.description}</p>
            </div>
        ))
    }
</section>
